*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: normal;
  background-color: white;
  color: black;
  max-width: 1000px;
  margin: 0 auto;
}